

.navbar {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  width: 100%;
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 20rem;
  background: #000000a8;
  padding: 2rem 3rem;
  flex-direction: column;
  transform: translateX(100%); /* off-screen */
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  pointer-events: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.nav-links.open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0.5rem 0;
  text-align: end;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  width: 50px;
  padding: 10px 0px 0px 0px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

.closeButton {
  align-self: flex-end;
  margin-bottom: 1rem;
  background: none;
  border: none;
  color: aliceblue;
  font-size: 1.5rem;
  cursor: pointer;
}

/* ---- Större skärmar ---- */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .closeButton {
    display: none;
  }

  .nav-links {
    display: flex !important;
    flex-direction:row;
    justify-content: center;
    position: static;
    gap: 2rem;
    background: none;
    padding: 0;
    transform: none !important; /* Add this */
    opacity: 1 !important;      /* And this */
    pointer-events: auto !important;
  }
}
